$marronclaro:beige;
$amarilloclaro:rgb(190, 140, 74);
$blanco:#ffffff;
$amarillomenos: rgb(173, 129, 70);
$colorado: coral;
$choc:chocolate;
$burly:burlywood;
$negro:black;
$sombra:rgba(0,0,0,8) 0px 0px 15px;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
   text-align: center;
   word-spacing: 3px;
   background-color:beige;
}
/*Logo de todas las páginas*/
#logo{
   margin-top: 1em;
}


/*index Bootstrap*/

@media (max-width: 575px){
   #flex{
      display: flex;
      flex-direction: column-reverse;
   }
}

/*Espacios para los divs*/
.row{
    padding-top: 1em;
    padding-bottom: 1em;
}
#texto{
    padding-left: 3em;
    padding-bottom: 1em; 
}

.slide img {
   height: 30em;
   width: 10em;
}

#carouselExampleCaptions{
   padding-left: 2em;
   padding-right: 2em;

}

/*MENU*/

#navbar{
   background-color: rgb(233, 162, 70);;
   padding-top: 0;
   padding-bottom: 0;
   .navbar-brand{
      margin-left: 1em; /*Por alguna razón solo me hace un margin a la derecha, con esto lo igualo*/
   }
}

.navbar-nav{

   display: flex;
   align-items: center; /*Para ordenarlo horizontalemnte porque agregé el logo en el medio*/
}

/*INDEX*/

.contenedor{
    display: grid;
    grid-template-areas:
    "b1 b1 b1"
    "b2 b3 b4"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60% 40%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.contenedor img{
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
}
.botones{
    color: $negro;
    text-decoration: none;
    background-color: $colorado;
    border-radius: 5PX;
    padding: 2px;
}
.botones:hover{
    background-color: $choc;
}

.contenedor-promo_amigo{
    grid-area: b1;
    background-color: $burly;
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: center ;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 5px;
}
.contenedor-metalizados{
    grid-area: b2;
    background-color: $burly;
    margin-left: 1em;
    border-radius: 5px;
    padding: 1em;

}
.contenedor-cajas{
    grid-area: b3;
    background-color: $burly;
    border-radius: 5px;
    padding: 1em;
}
.contenedor-todosloscolores{
    grid-area: b4;
    background-color: $burly;
    margin-right: 1em;
    border-radius: 5px;
    padding: 1em;
}

/*De whatsapp*/
.appWhatsapp{
   position: fixed;
   right: 26px;
   bottom: 100px;
   width: 60px;
   z-index: 1000;
}
.appWhatsapp img{
   width: 100%;
   height: auto;
}

.carousel-item::before{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #000;
   opacity: 0.4;
}

.carousel-caption{
   bottom: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-content: center;
   h5{
      font-size: 80px;
      font-weight: 1000;
      color: rgb(233, 162, 70);
   }
   p{
      font-size: 18px;
      top: 2rem;
      color: rgb(233, 162, 70);
   }
}

/*Alineacion de las fotos*/
#imagen{
   display: flex;
   align-items: center;
   justify-content: center;
   img{
      max-width: 80%;
      max-height: 80%;
   }
}

/*newsletter*/

.rows {
   height: 100vh
}

.form-control {
   display: block;
   width: 100%;
   min-height: calc(1.5em + .75rem + 2px);
   padding: .575rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 52px;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   margin-bottom: 0;
}

#cards {
   padding: 20px;
   background-color: #eee;
   padding-bottom: 50px;
   padding-top: 50px;
   margin-top: 0;
}

.form-control:focus {
   color: #495057;
   background-color: #fff;
   border-color: #f9a826;
   outline: 0;
   box-shadow: none
}

.border-rad {
   border-top-right-radius: 28px;
   border-bottom-right-radius: 28px;
   color: #fff;
   background-color: #f9a826;
   border-color: #f9a826
}

.border-rad:hover {
   background-color: #f9a826;
   border-color: #f9a826
}

/*newsletter end*/
@media screen and (max-width: 626px){
   .carousel-caption{
      h5{
         font-size: 40px;
      }
      p{
         font-size: 18px;
      }
   }
}

.slider-btn{
   margin-top: 30px;
   .btn{
      background-color: rgb(201, 201, 51);
      color:black;
      border-radius: solid 2px;
      padding: 1,5rem 2rem;
      font-size: 1rem;
      margin-right: 15px;
   }
   a{
      text-decoration: none;
      color: white;
   }

}

#columna{
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-img-overlay{
   opacity: 0.9;
   a{
      margin-top: 200px;
      background-color: rgb(201, 201, 51);
   }
   h2{
      margin-top: 50px;
      color:rgba(201, 201, 51, 0.9);
      background-color: rgba(233, 162, 70, 0.7);
      border-radius: 20px solid;
   }
}
@media only screen and (min-width: 750px) and (max-width: 983px) {
	.card-img-overlay{
      h2{
         font-size:1.2rem; 
      }
      a{
         margin-top: 150px;
      }
   }
}

.col-md-4{
   max-width: 400px;
}


/*PROMOCIONES*/
 
  
 /*PRODUCTOS*/
#temporal{
   margin-left: 2em;
   margin-right: 2em;
   .card{
      margin-left: 0px;
      margin-right: 0px;
      max-height: 30em;
      border: 2px solid burlywood;
      background-color: white;
      .card-body{
         padding-left: 1em;
         padding-right: 1em;
         padding-top: 0em;
         padding-bottom: 0em;
      }
      img{
         max-height: 15em;
      }
   }
}

  
 .box{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    /*justify-content: space-evenly;*/
    flex-wrap: wrap
 }
  
 .box {
    div{
        background-color:$blanco;
        height: 350px;
        width: 350px;
        border: solid $burly 1px;
        border-radius: 10px;
        margin: 15px;
     }
 }
 .box img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
 }
  
 /*QUIENES SOMOS*/
  
.quienes-somos-flex{
   display: flex;
   flex-direction: row;
   text-align: center;
   font-weight: bold;
   justify-content: space-evenly;
   height: 30em;
   align-items: center;
 }
 /*Para el tamaño de las imagenes*/
 .tamano{
    height: 6em;
    width: 6em;
 }
.div-quienes-somos{
   background: $burly;
   margin: 1em;
   height: 25em;
   width: 15em;
}

/*CONTACTO*/

.mainContacto{
   margin-top: 2em;
   margin-bottom: 2em;
}
.responsive-form{
   width: 450px;
   margin: auto;
   background-image: linear-gradient(to bottom,rgb(245, 161, 6),rgb(245, 183, 102));
   padding: 10px 20px;
   box-sizing: border-box;
}
form{
   width: 450px;
   margin: auto;
   background-image: linear-gradient(to bottom,rgb(245, 161, 6),rgb(245, 183, 102));
   padding: 10px 20px;
   box-sizing: border-box;
   border-radius: 20px;
}
.h2contacto{
   color: #ffffff;
   text-align: center;
   font-size: 30px;
}
input, textarea{
   width: 100%;
   margin-bottom: 19px;
   padding: 7px;
   box-sizing: border-box;
   font-size: 17px;
   border: none;
}
textarea{
   min-height: 100px;
   max-height: 200px;
   max-width: 100%;
}
#boton{
   background:rgb(201, 201, 51);
   color: white;
   padding: 7px;
}
#boton:hover {
   cursor: pointer;
}
@media(max-width:457px){
   .responsive-form{
   width: 100%;
   }
}
label{
   color: white;
   font-size: 20px;
   text-align: left;
}
.flex-contacto{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.divmap{
background-attachment: fixed;
background-image: linear-gradient(to bottom,rgb(245, 161, 6),rgb(245, 183, 102));
border-radius: 20px;
width: 450px;
color: white;

}
@media(max-width:450px){
   .mapsdegoogle{
   width:320px;
   margin-top: 20px;
   }
}
@media only screen and (min-width: 451px) and (max-width: 899px){
   .mapsdegoogle{
   margin-top: 20px;
   }
}
@media only screen and (min-width: 900px) and (max-width: 940px){
   .mapsdegoogle{
   margin-left: 5px;
   }
}
@media only screen and (min-width: 899px) and (max-width: 904px){
   .mapsdegoogle{
   margin-top: 20px;
   }
}


/*FOOTER*/

footer{
   background-color: rgb(233, 162, 70);
   h5{
      color: white;
   }
   a{
      text-decoration: none;
      color: black;
   }
   .iconos{
      height: 2em;
      width: 2em;
      color: white;
   }
   .maxo{
      color: white;
   }
}
.col-md-3{
   p{
      color: black;
   }
}
.col-md-7{
   p{
      color:black;
   }
}
/*Bootstrap*/
.card{
   background-color: rgb(204, 162, 107);
   margin-top: 2em;
   margin-right: 1em;
   margin-left: 1em;
}

p {
   font-weight:bold
}
h5 {
   font-weight:bold
}
h1{
   font-weight:bold
}
h2{
   font-weight:bold
}


